.navbar-nav{padding-block: 5px;}
.navbar-nav .nav-link{font-family: var(--roboto);color: white;text-align: center;transition: .2s all ease-in;margin-inline: 3px;}
.navbar-nav .nav-link:hover, .navbar-nav .nav-link.active{background-color: white;color: #0177ff;transition: .2s all ease-in;border-radius: 20px;}
.navbar-brand{
    height:100px;
    width:100px;
}